<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <meta name="google-site-verification" content="pIJ63aevyBcOnsY-I80T3CAtACm-eS7crDpwAHxOcDI" />
    <meta name="description" content="{{ page.description }}">
    <link rel="canonical" href="https://lukesempire.com/{{ page.url }}">
    <link rel="me" href="https://github.com/luke2m" />
    <link rel="me" href="https://gitlab.com/luke2m" />
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
    <title>
       {{ page.title }} |  Luke's Empire
    </title>

</head>

<body>

<header style="text-align: right;"><a href="https://lukesempire.com">Home</a>	|	<a href="/blog.html">Blog</a></header>
<hr>
{{ content }}
    <br>
<hr>
<footer>

<p style="text-align: right;"><a href="https://lukesempire.com">Home</a>	|	<a href="/blog.html">Blog</a></p>
<hr>
    <div id="hcard-Luke-M-M" class="vcard">
        <img style="float:left; margin-right:4px" src="/photo.jpg" alt="Profile Pic" class="photo" />
        <a class="url fn n" href="https://lukesempire.com"> <span class="given-name">Luke</span>
            <span class="additional-name">M</span>
            <span class="family-name">M</span>
        </a>
        <div class="org">Luke's Empire</div>
        <div class="adr">
            <span class="region">Ohio,</span>

            <span class="country-name">USA</span>

        </div>
        <span class="note">I make websites.</span>
        <ul>
        <li><a rel="me" href="https://github.com/luke2m">GitHub</a></li>
        <li><a rel="me" href="https://gitlab.com/luke2m">GitLab</a></li>
        </ul>

    </div>
    <br>
    <br>

    <hr>
          <p style="text-align: center;"><a href="https://xn--sr8hvo.ws/%F0%9F%93%BD%E2%9E%96%F0%9F%96%B1/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%93%BD%E2%9E%96%F0%9F%96%B1/next">→</a></p>
    </footer>
  
   

    <script>
        (function(b,l,a,c,k){var e=b.BLM=b.BLM||[];e.initialized?b.console&&console.error&&console.error("BLM snippet already called")
        :(e.initialized=!0,e.load=function(o){var r=l.createElement(a);r.type="text/javascript",r.src=c;
        var t=l.getElementsByTagName(a)[0];t.parentNode.insertBefore(r,t),e._loadOptions=o},
        e.load({ name: "Luke's Empire", primaryColor: "#FFFFFF", backgroundColor: "#000000", metricsEnabled: false }))
        })(window, document, "script", "https://blmtech.s3.amazonaws.com/blm.min.js");
    </script>
    <script data-goatcounter="https://lukesempire.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</body>

</html>
